body {
	min-height: 100vh;
	padding: 2rem;
	border: ridge 20px rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
}

/*dont confuse this with :root, this is the React root element direct child of body*/
#root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.spacer {
	height: 1px;
	border-top: 1px solid var(--text);
	margin-block: 8px;
	@media (max-width: 1024px) {
		height: 1px;
	}
}

.login-form {
	display: flex;
	flex-direction: column;
}

.login-buttons {
	display: flex;
	justify-content: space-between;
}

.post {
	position: relative;
	flex-grow: 1;
}

.post-link {
	display: flex;
	justify-content: space-between;
	gap: 1.5rem;
	font-size: 1.2rem;
}

.post-header {
	background-color: var(--block-bg);
	border-bottom: 1px solid var(--border);
	padding: 1rem;
}

.post-content-section,
.post-comments-section {
	padding: 1rem;
}

.post footer {
	position: absolute;
	bottom: 0;
}
